@mixin page-background($url){
    background-image: url($url);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin grid-2-columns{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}